fastapi
uvicorn
sqlalchemy
pydantic
pydantic-settings
python-jose[cryptography]
passlib
python-multipart
groq
aiosmtplib
email-validator
python-dotenv
httpx
celery
redis
sendgrid
websockets
pypdf
python-docx
